*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
        background: orangered;
        padding: 0 10px;
}
.wrapper{
    max-width: 500px;
    width: 100%;
    background: white;
    margin: 20px auto;
    padding: 50px;
    box-shadow: 1px 2px 2px  rgba(0, 0, 0, 0.125);
}
.wrapper  .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color:orangered;
    text-transform: uppercase;
    text-align: center;
}
.wrapper .form{
  width: 100%;
}
.wrapper .form .inputfield{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.wrapper .form .inputfield label{
    width: 200px;
    color: #757575;
    margin-right: 10px;
    font font-size: 14px;
}
.wrapper .form .inputfield input,
.wrapper .form .inputfield .address{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 10px;
    transition: all 1s ease;
}
.wrapper .form .inputfield .address{
    resize: none;
    height: 125px;
}
.wrapper .form .inputfield .genderselect{
    position: relative;
    width: 100%;
    height: 37px;
}
.wrapper .form .inputfield .genderselect select{
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #d5dbd9;
    width: 100%;
    height: 100%;
    padding: 8px 10px;
    border-radius: 10px;
    outline:none;
}
.wrapper .form .inputfield .genderselect:before{
    content: "";
    position: absolute;
    top: 12px;
    right:8px ;
    border: 8px solid;
    border-color: grey transparent transparent  transparent;
    pointer-events: none;
}
.wrapper .form .inputfield :focus,
.wrapper .form .inputfield .genderselect :focus{
    border: 1px solid yellow;
}
.wrapper .form .inputfield .check{
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
}
.wrapper .form .inputfield p{
    font-size: 14px;
    color: #757575;
    left: 30px;
}
.wrapper .form .inputfield .check{
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
}
.wrapper .form .inputfield .check input [type="checkbox"]{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.wrapper .form .inputfield .button{
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0;
    background: orangered;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}
.wrapper .form .inputfield .button :last-child{
    margin-bottom: 0;
}
.wrapper .form .inputfield .button :hover{
    background: #ffd658;
}